# Java
*.class
*.jar
*.war
*.ear
*.iml
*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ / VS Code
.idea/
.vscode/
*.iws
*.ipr
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*.swo